# 必須填入
SECRET_KEY = django-insecure-x_c1b6h#f3kjb_g9j(36=-4h&x5*-!^-*6^p+lrzepelgvyj@%
POSTGRES_PASSWORD = 2EDgTHBWa5S
POSTGRES_HOST = ep-shrill-math-a11tvwl0-pooler.ap-southeast-1.aws.neon.tech

#預設管理員帳號
#如未填寫 預設為 帳號；admin 密碼：password
#如 Debug=True 將不自動創建
DEFAULT_SUPERUSER_USERNAME = admin
DEFAULT_SUPERUSER_EMAIL = admin@example.com
DEFAULT_SUPERUSER_PASSWORD = password123

# 僅在不使用Vercel DB時需填入
POSTGRES_DATABASE = verceldb
POSTGRES_USER = default
DB_PORT = 5432

# 測試用 非必填
DEBUG = False